<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <title tiles:fragment="title">Edit user details</title>

    <link rel="stylesheet" href="/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="/css/jquery-ui.min.css" th:href="@{/css/jquery-ui.min.css}"/>
    <link rel="stylesheet" href="/css/jquery-ui.structure.min.css" th:href="@{/css/jquery-ui.structure.min.css}"/>
    <link rel="stylesheet" href="/css/style.css" th:href="@{/css/style.css}"/>
</head>
<body>
<div th:replace="fragments/header :: header">...</div>
<div class="container">
    <!-- Alert -->
    <div id="alert" class="alert alert-warning collapse">
        <span id="message"></span>
    </div>
    <form name="f" th:action="@{/api/product/update}" th:object="${user}" method="post" class="needs-validation"
          novalidate>
        <div class="form-group row">
            <div class="col-sm-6">

                <legend>User details</legend>

                <input type="hidden" id="id" name="id" class="form-control"
                       th:field="${user.id}"/>

                <label for="firstname">First name</label>:
                <input type="text" id="firstName" class="form-control" name="firstName" th:field="${user.firstName}"
                       readonly="readonly"/> <br/>

                <label for="lastName">Last name</label>:
                <input type="text" id="lastName" class="form-control" name="lastName" th:field="${user.lastName}"
                       readonly="readonly"/> <br/>

                <label for="address">Address</label>:
                <input type="text" id="address" class="form-control" name="address" th:field="${user.address}"
                       autofocus="autofocus" required/>
                <div class="invalid-feedback">
                    Please provide an address.
                </div>
                <br/>

                <div class="form-actions">
                    <button id="update" type="button" class="btn btn-primary">Update</button>
                    <button id="delete" type="button" class="btn btn-danger" data-toggle="modal"
                            data-target="#confirmModal">Delete account
                    </button>
                </div>
            </div>
            <div class="col-sm-6">
                <legend>Account details</legend>


                <label for="username">Username</label>:
                <input type="text" id="username" name="username" th:field="${user.username}" class="form-control"
                       readonly="readonly"/> <br/>

                <label for="email">Email</label>:
                <input type="text" id="email" name="email" th:field="${user.email}" class="form-control" required/>
                <div class="invalid-feedback">
                    Please provide an email.
                </div>
                <br/>

                <label for="password">Password</label>:
                <input type="password" id="password" class="form-control" th:field="${user.password}" name="password"
                       required/>
                <div class="invalid-feedback">
                    Please provide a password.
                </div>
                <br/>

                <label for="passwordConfirm">Confirm password</label>:
                <input type="password" id="passwordConfirm" class="form-control" name="passwordConfirm" required/>
                <div class="invalid-feedback">
                    Please provide a confirm password.
                </div>
                <br/>
            </div>
        </div>
    </form>

    <!-- Confirm Modal -->
    <div id="confirmModal" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Confirmation</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to delete your account?</p>
                </div>
                <div class="modal-footer">
                    <button id="confirm" type="button" class="btn btn-primary" data-dismiss="modal">Yes, delete</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script src="webjars/jquery/2.1.4/jquery.min.js" th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>
<script src="webjars/tether/1.3.7/dist/js/tether.min.js"
        th:src="@{/webjars/tether/1.3.7/dist/js/tether.min.js}"></script>
<script src="webjars/bootstrap/4.0.0-2/js/bootstrap.min.js"
        th:src="@{/webjars/bootstrap/4.0.0-2/js/bootstrap.min.js}"></script>
<script src="js/jquery-ui.min.js" th:src="@{/js/jquery-ui.min.js}"></script>
<script src="js/search.js" th:src="@{/js/search.js}"></script>
</html>