<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <title tiles:fragment="title">Preview user details</title>

    <link rel="stylesheet" href="/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="/css/jquery-ui.min.css" th:href="@{/css/jquery-ui.min.css}"/>
    <link rel="stylesheet" href="/css/jquery-ui.structure.min.css" th:href="@{/css/jquery-ui.structure.min.css}"/>
    <link rel="stylesheet" href="/css/style.css" th:href="@{/css/style.css}"/>
</head>
<body>
<div th:replace="fragments/header :: header">...</div>
<div class="container">
    <div class="jumbotron" th:object="${user}">
        <div class="row">
            <div class="col-sm-3">
                <h1 id="name" class="display-4" th:text="${user.firstName + ' ' + user.lastName}">...</h1>
                <hr class="my-4">
                <label for="address">Address</label>:
                <p id="address" class="lead" th:text="${user.address}">...</p>
                <label for="email">Email</label>:
                <p id="email" class="lead" th:text="${user.email}">...</p>
                <label for="username">Username</label>:
                <p id="username" class="lead" th:text="${user.username}">...</p>
            </div>
            <div class="col-sm-9">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="all-tab" data-toggle="tab" href="#all" role="tab"
                           aria-controls="all" aria-selected="true">All rents</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="rents-tab" data-toggle="tab" href="#rents" role="tab"
                           aria-controls="rents" aria-selected="false">Current rents</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="bookings-tab" data-toggle="tab" href="#bookings" role="tab"
                           aria-controls="bookings" aria-selected="false">Current bookings</a>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="all" role="tabpanel" aria-labelledby="all-tab">
                        <table class="table table-striped table-responsive">
                            <caption>List of all rents</caption>
                            <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Product ID</th>
                                <th scope="col">Product name</th>
                                <th scope="col">Booking date</th>
                                <th scope="col">Deadline</th>
                                <th scope="col">Daily price</th>
                                <th scope="col">Total price</th>
                            </tr>
                            </thead>
                            <tbody>
                            <th:block th:each="rent, i : ${allRents}">
                                <tr>
                                    <td scope="row" th:text="${i.index + 1}">...</td>
                                    <td th:text="${rent.booking.product.id}">...</td>
                                    <td th:text="${rent.booking.product.label}">...</td>
                                    <td th:text="${#dates.format(rent.booking.start, 'dd/MM/YYYY')}">...</td>
                                    <td th:text="${#dates.format(rent.booking.end, 'dd/MM/YYYY')}">...</td>
                                    <td th:text="${rent.booking.product.dailyPrice}">...</td>
                                    <td th:text="${rent.booking.product.id}">...</td>
                                </tr>
                            </th:block>
                            </tbody>
                        </table>
                    </div>
                    <div class="tab-pane fade" id="rents" role="tabpanel" aria-labelledby="rents-tab">
                        <table class="table table-striped table-responsive">
                            <caption>List of all current rents</caption>
                            <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Product ID</th>
                                <th scope="col">Product name</th>
                                <th scope="col">Booking date</th>
                                <th scope="col">Deadline</th>
                                <th scope="col">Daily price</th>
                                <th scope="col">Deposit</th>
                            </tr>
                            </thead>
                            <tbody>
                            <th:block th:each="rent, i : ${currentRents}">
                                <tr>
                                    <td scope="row" th:text="${i.index + 1}">...</td>
                                    <td th:text="${rent.booking.product.id}">...</td>
                                    <td th:text="${rent.booking.product.label}">...</td>
                                    <td th:text="${#dates.format(rent.booking.start, 'dd/MM/YYYY')}">...</td>
                                    <td th:text="${#dates.format(rent.booking.end, 'dd/MM/YYYY')}">...</td>
                                    <td th:text="${rent.booking.product.dailyPrice}">...</td>
                                    <td th:text="${rent.booking.product.deposit}">...</td>
                                </tr>
                            </th:block>
                            </tbody>
                        </table>
                    </div>
                    <div class="tab-pane fade" id="bookings" role="tabpanel" aria-labelledby="bookings-tab">
                        <table class="table table-striped table-responsive">
                            <caption>List of all current bookings</caption>
                            <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Booking ID</th>
                                <th scope="col">Product ID</th>
                                <th scope="col">Product name</th>
                                <th scope="col">Booking date</th>
                                <th scope="col">Deadline</th>
                                <th scope="col">Rent duration</th>
                                <th scope="col">Daily price</th>
                                <th scope="col">Deposit</th>
                            </tr>
                            </thead>
                            <tbody>
                            <th:block th:each="booking, i : ${currentBookings}">
                                <tr>
                                    <td scope="row" th:text="${i.index + 1}">...</td>
                                    <td th:text="${booking.id}">...</td>
                                    <td th:text="${booking.product.id}">...</td>
                                    <td th:text="${booking.product.label}">...</td>
                                    <td th:text="${#dates.format(booking.start, 'dd/MM/YYYY')}">...</td>
                                    <td th:text="${#dates.format(booking.end, 'dd/MM/YYYY')}">...</td>
                                    <td th:text="${booking.product.label}">...</td>
                                    <td th:text="${booking.product.dailyPrice}">...</td>
                                    <td th:text="${booking.product.deposit}">...</td>
                                </tr>
                            </th:block>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
<script src="webjars/jquery/2.1.4/jquery.min.js" th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>
<script src="webjars/tether/1.3.7/dist/js/tether.min.js"
        th:src="@{/webjars/tether/1.3.7/dist/js/tether.min.js}"></script>
<script src="webjars/bootstrap/4.0.0-2/js/bootstrap.min.js"
        th:src="@{/webjars/bootstrap/4.0.0-2/js/bootstrap.min.js}"></script>
<script src="js/jquery-ui.min.js" th:src="@{/js/jquery-ui.min.js}"></script>
<script src="js/account.js" th:src="@{/js/account.js}"></script>
<script src="js/search.js" th:src="@{/js/search.js}"></script>
</html>