<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bookings</title>

    <link rel="stylesheet" href="/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="/webjars/open-iconic/1.1.1/font/css/open-iconic-bootstrap.css"
          th:href="@{/webjars/open-iconic/1.1.1/font/css/open-iconic-bootstrap.css}"/>
    <link rel="stylesheet" href="/css/style.css" th:href="@{/css/style.css}"/>
</head>
<body>

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="table-responsive-sm">
                <table class="table table-striped">
                    <caption>List of your bookings</caption>
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col"></th>
                        <th scope="col">Booking #</th>
                        <th scope="col">Product name</th>
                        <th scope="col">Rental duration (in days)</th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <th:block th:each="booking, i : ${bookings}">
                        <tr>
                            <td class="align-middle" scope="row" th:text="${i.index + 1}">...</td>
                            <td><input class="form-check-input" type="checkbox" value="" th:id="${booking.id}"></td>
                            <td class="align-middle" th:text="${booking.id}">...</td>
                            <td class="align-middle" th:text="${booking.product.label}">...</td>
                            <td class="align-middle" th:text="${(booking.end.getTime() - booking.start.getTime()) / 86400000}">...</td>
                            <td><a class="oi oi-eye" th:href="@{'/booking/' + ${booking.id} + '/edit'}"></a></td>
                        </tr>
                    </th:block>
                    </tbody>
                </table>
            </div>

            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#confirmModal">Delete
                selection
            </button>

            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    <li class="page-item" th:classappend="${current == 0} ? disabled : ''">
                        <a class="page-link" th:href="@{'/product/list?page=' + ${previous}}" tabindex="-1">Previous</a>
                    </li>
                    <th:block th:each="page : ${#numbers.sequence(0, totalPages - 1)}">
                        <li class="page-item" th:classappend="${current == page} ? active : ''">
                            <a class="page-link" th:href="@{'/product/list?page=' + ${page}}" th:text="${page}">...</a>
                        </li>
                    </th:block>
                    <li class="page-item" th:classappend="${current >= (totalPages - 1)} ? disabled : ''">
                        <a class="page-link" th:href="@{'/booking/list?page=' + ${next}}">Next</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>

<!-- Confirm Modal -->
<div id="confirmModal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Confirmation</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete the selected bookings?</p>
            </div>
            <div class="modal-footer">
                <button id="confirm" type="button" class="btn btn-primary" data-dismiss="modal">Yes, delete</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

</body>
<script src="webjars/jquery/2.1.4/jquery.min.js" th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>
<script src="webjars/tether/1.3.7/dist/js/tether.min.js"
        th:src="@{/webjars/tether/1.3.7/dist/js/tether.min.js}"></script>
<script src="webjars/bootstrap/4.0.0-2/js/bootstrap.min.js"
        th:src="@{/webjars/bootstrap/4.0.0-2/js/bootstrap.min.js}"></script>
<script src="js/booking.js" th:src="@{/js/booking.js}"></script>
</html>